/* tm/general.css */
:root {
    --theme: #e7fffa;
    --base-len: 16px;
  }
  
  body {
    background-color: var(--theme);
    margin: 0;
    font-family: "Segoe UI", "Microsoft YaHei UI", sans-serif;
  }
  
  .float {
    background-color: white;
    box-shadow: 0 0 10px black;
    z-index: 20;
    border-radius: var(--base-len);
    opacity: 0;
    transition: opacity .15s;
    display: none;
  }
  
  button.large {
    padding: 8px 12px;
    color: black;
    background-color: #479dff;
    box-shadow: 0.5px 0.5px 4.5px black;
    border: none;
    border-radius: 8px;
    transition: box-shadow .15s;
  }
  
  button.large:hover {
    box-shadow: 0.8px 0.8px 4.5px black;
  }
  
  button.large.secondary {
    color: black;
    background-color: white;
    box-shadow: 0.5px 0.5px 0.5px black;
    border: 1px solid #479dff;
    transition: box-shadow .15s, background-color .15s;
  }
  
  button.large:hover {
    box-shadow: 0.8px 0.8px 4.5px black;
    background-color: #479dff;
  }



/* tm/style.css */
.heading {
    padding: 48px;
    /* I originally wanted to use margin but the content beneath would show */
    position: sticky;
    top: 0;
    opacity: 1;
    z-index: 5;
    background: var(--theme);
  }
  
  .heading>h1 {
    margin: 0;
  }
  
  .main {
    padding: var(--base-len);
  }
  
  .main>.bar {
    gap: var(--base-len);
    display: flex;
    align-items: center;
    margin: 16px;
  }
  
  .main>.bar>div:first-child {
    flex-grow: 1;
  }
  
  .main .bar-alt {
    position: relative;
    top: 300px;
  }
  
  table {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
    border-spacing: 0;
  }
  
  tr:hover {
    background-color: RGBA(211, 211, 211, 0.14);
    transition: background-color .15s;
  }
  
  td {
    padding: 16px 20px;
    border-style: solid;
    border-width: 1px 0px;
    border-color: lightgray;
  }
  
  tr td:first-child {
    width: 50%;
  }
  
  tr td:not(:first-child) {
    white-space: nowrap;
    /* disables line breaking for tests with long names */
  }
  
  tr:first-child>td:first-child {
    border-top-left-radius: 8px;
  }
  
  tr:first-child>td:last-child {
    border-top-right-radius: 8px;
  }
  
  tr:last-child>td:first-child {
    border-bottom-left-radius: 8px;
  }
  
  tr:last-child>td:last-child {
    border-bottom-right-radius: 8px;
  }
  
  .mask {
    opacity: 0;
    /*background-color: rgba(0, 0, 0, 0.4);*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
    backdrop-filter: blur(2px);
    transition: opacity .15s;
    /* might not work in Firefox */
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(75%, 580px);
    height: min(75%, 360px);
    border-radius: var(--base-len);
    padding: 48px;
    overflow: auto;
  }
  
  .popup::-webkit-scrollbar {
    display: none;
  }
  
  #close {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--base-len);
    cursor: pointer;
    transition: background-color .15s;
  }
  
  #close:hover {
    background-color: lightgray;
  }
  
  input {
    appearance: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1em;
    font-family: inherit;
    outline: none;
    padding: 8px;
    margin: 8px 12px;
    transition: border-color .15s;
  }
  
  input[type="datetime-local"] {
    border: 1px solid black;
    border-radius: 8px;
  }
  
  input:focus {
    border-color: #919810;
  }
  
  
  
  textarea {
    width: calc(100% - 16px);
    resize: none;
    padding: 8px;
    margin: 8px 0;
    outline: none;
    font-size: inherit;
    font-family: inherit;
  }
  
  .sort-float {
    position: absolute;
    right: 0;
    align-self: flex-start;
    margin: 16px;
    margin-top: 32px;
    overflow: hidden;
    /* border radius when hovering */
    transform: scale(0);
    transform-origin: top right;
    transition: opacity .15s, transform .15s;
  }
  
  .sort-float>div {
    padding: 12px;
  }
  
  .sort-float>div:hover {
    background-color: #adf5ff;
  }
  
  .err-inline {
    font-size: 0.8em;
    color: red;
  }