body {
    margin: 0px;
    object-fit: cover;
    backface-visibility: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url("/static/wlsash/images/keyvision.jpg");
}

body::after {
    content: "";
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, .3) 166%);
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
    text-decoration: none;
}

::selection {
    background: rgba(0, 120, 215, 0.5);
}

::-moz-selection {
    background: rgba(0, 120, 215, 0.5);
}

::-webkit-selection {
    background: rgba(0, 120, 215, 0.5);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: all 1s ease 0s;
}

::-webkit-scrollbar-corner {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, 0.6);
    background-clip: padding-box;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 5px;
    transition: all 1s ease 0s;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(127, 127, 127, 0.6);
    background-clip: padding-box;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 5px;
    transition: all 1s ease 0s;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

:root {
    --pale-blue: #009ef7;
    --wlsa-blue: #2e358b;
    --hyperlink-blue: rgb(0, 140, 255);
    --black-bg: rgba(22, 22, 23, .8)
}

@media screen and (orientation: portrait) {
    .top-stuff {
        flex-direction: column;
    }
}

@media screen and (max-width: 1350px) {
    .main {
        left: 25px !important;
        width: calc(100% - 50px) !important;
    }
}

@media screen and (max-height: 786px) {
    .main {
        top: 35px;
        height: calc(100% - 70px);
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        backdrop-filter: saturate(180%) blur(20px);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        backdrop-filter: saturate(180%) blur(20px);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        transform: translateY(0px);
    }
}

.slide-in {
    animation-name: slide-in;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

.contents {
    margin: 16px min(10%, 48px);
}

.text * {
    -webkit-user-select: text !important;
    user-select: text !important;
}

.header h1 {
    margin: 0 0 10px 0;
}

.header .next-class {
    text-align: right;
}

.top-stuff {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.top-stuff p {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.next-class {
    white-space: nowrap;
}

.next-class p {
    display: flex;
    justify-content: flex-end;
}

.boxes {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}

.box {
    color: white;
    padding: 20px;
    text-align: center;
    aspect-ratio: 3 / 2;
    width: 300px;
    margin: 10px;
    background-color: var(--wlsa-blue);
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.25s;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
}

.lower-box {
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    background-color: var(--black-bg);
    box-shadow: rgb(0 0 0 / 37%) 0px 3.2px 7.2px 0px, rgb(0 0 0 / 35%) 0px 0.6px 1.8px 0px;
    border-radius: 8px;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    color: white;
    overflow-x: hidden;
    transition: transform 0.25s;
}

.lower-box * {
    overflow: hidden;
    text-overflow: ellipsis;
}