#customCursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* 不阻挡点击事件 */
    align-items: center;
    justify-content: center;
    width: 43px; /* 自定义宽度 */
    height: 52px; /* 自定义高度 */
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.3s ease; /* 添加透明度的平滑过渡 */
}
#customCursor.show {
    opacity: 1; /* 当鼠标悬停时，透明度变为1，图标完全显示 */
}
#customCursor.hide {
    opacity: 0; /* 隐藏状态 */
}
/* 抓手状态图像 */
#catchIcon {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* 不阻挡点击事件 */
    align-items: center;
    justify-content: center;
    width: 41px; /* 自定义宽度 */
    height: 44px; /* 自定义高度 */
    z-index: 9999;

    opacity: 0;
    transition: opacity 0.3s ease; /* 添加透明度的平滑过渡 */
}
#catchIcon.show {
    opacity: 1; /* 当鼠标悬停时，透明度变为1，图标完全显示 */
}
#catchIcon.hide {
    opacity: 0; /* 隐藏状态 */
}
