#loadingAnimation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://webcnstatic.yostar.net/ba_cn_web/prod/web/assets/loading_bg_pc.ba246778.png');
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    z-index: 1001;
}
#loadingImage {
    animation: bounce 1.5s infinite ease-in-out;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}
@font-face {
    font-family: 'TVPS-Vain-Capital';
    src: url('/static/common/font/TVPS-Vain-Capital.ttf') format('truetype');
}
#progressText {
    font-family: 'TVPS-Vain-Capital', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #1F90FA;
}
