body {
  margin: 0px;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
  text-decoration: none;
}

::selection {
  background: rgba(0, 120, 215, 0.5);
}

::-moz-selection {
  background: rgba(0, 120, 215, 0.5);
}

::-webkit-selection {
  background: rgba(0, 120, 215, 0.5);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  transition: all 1s ease 0s;
}

::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, 0.6);
  background-clip: padding-box;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 5px;
  transition: all 1s ease 0s;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(127, 127, 127, 0.6);
  background-clip: padding-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 5px;
  transition: all 1s ease 0s;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

:root {
  --topbar-height: 65px;
  --pale-blue: #009ef7;
  --wlsa-blue: #2e358b;
  --hyperlink-blue: rgb(0, 140, 255);
  --black-bg: rgba(22, 22, 23, .8)
}


.text * {
  user-select: text !important;
  -webkit-user-select: text !important;
}

.topbar {
  user-select: none;
  background: var(--black-bg);
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: var(--topbar-height);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  overflow: hidden;
  backdrop-filter: saturate(180%) blur(20px);
}

.topbar a {
  color: white;
  transition: .25s;
  cursor: pointer;
}

.topbar:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar .right {
  height: 40px;
  display: flex;
  align-items: center;
  padding-right: 25px;
  gap: 20px;
  white-space: nowrap;
}

.topbar .left {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  color: white;
}

.topbar .left .favicon {
  max-height: 100%;
  width: auto;
  display: block;
  margin-right: 15px;
}

.topbar .left .title {
  max-height: 100%;
  width: auto;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20vw;
  white-space: nowrap;
}

.card:hover {
  transform: scale(1.02);
}

.card {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--wlsa-blue);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.25s;
  margin-bottom: 20px;
}

.card img {
  height: 80px;
  width: 80px;
  border-radius: 8px;
  margin-left: 15px;
}

.card h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px 0px 8px 0px;
}

.contents {
  margin: 16px min(10%, 48px);
}

.container {
  user-select: none;
  width: 100%;
  height: calc(100vh - var(--topbar-height));
  position: relative;
  background-color: black;
  overflow: hidden;
}

.centered {
  margin: auto;
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.container .centered {
  color: white;
  font-size: 55px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  font-weight: bold;
}

.main-bg {
  z-index: -3;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vh - var(--topbar-height));
  object-fit: cover;
  backface-visibility: hidden;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slide-in {
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes gradient-mv {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.gradient-mv {
  animation-name: gradient-mv;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.right>a:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.right>a:hover:after {
  width: 100%;
  background-color: var(--hyperlink-blue);
}

.intro {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

@keyframes cover-page-arrow-bounce {

  /* bounce is taken in the loading page */
  0% {
    opacity: 30%;
    transform: translateY(-6px);
  }

  100% {
    opacity: 100%;
    transform: translateY(6px);
  }
}

.bounce {
  animation-name: cover-page-arrow-bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.25s;
  animation-timing-function: ease-in;
}

.bounce-arrow-wrapper {
  left: calc(50% - 22.5px);
  position: absolute;
  bottom: 30px;
  height: 27px;
  width: 45px;
  transition: opacity 0.85s;
}

@media screen and (orientation: portrait) {
  .bounce-arrow-wrapper {
    bottom: 120px;
    transform: scale(1.5);
  }
}