:root {
    --topbar-height: 65px;
    --black-bg: rgba(22, 22, 23, .8);
    --pale-blue: #009ef7;
    --wlsa-blue: #2e358b;
    --hyperlink-blue: rgb(0, 140, 255);
}

@media screen and (orientation: landscape) {
    .mobile-only {
        display: none !important;
    }
}

@media screen and (orientation: portrait) {
    .pc-only {
        display: none !important;
    }
}

.topbar a, .mobile-nav a{
    color: white;
    transition: .25s;
    cursor: pointer;
    text-decoration: none;
}

.topbar {
    -webkit-user-select: none;
    user-select: none;
    background: var(--black-bg);
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--topbar-height);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: hidden;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

}

.topbar:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .right, mobile-nav a {
    height: 40px;
    display: flex;
    align-items: center;
    padding-right: 25px;
    gap: 20px;
}

.right>a:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.right>a:hover:after {
    width: 100%;
    background-color: var(--hyperlink-blue);
}

.topbar .left {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    color: white;
}

.topbar .left .favicon {
    max-height: 100%;
    width: auto;
    display: block;
    margin-right: 15px;
}

.topbar .left .title {
    max-height: 100%;
    width: auto;
    display: block;
}

.mobile-nav {
    position: absolute;
    background-color: rgb(22, 22, 23);
    top: var(--topbar-height);
    left: 0;
    width: 100%;
    z-index: 9998;
    transition: height 0.5s;
    overflow: hidden;
}

.mobile-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.mobile-nav a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.mobile-nav a:active {
    background: rgba(255, 255, 255, 0.2);
}