$def with (logmessage='in')
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archives - WLSA SH</title>
    <link rel="stylesheet" href="/static/wlsash/nav.css">
    <link rel="stylesheet" href="/static/wlsash/archives/style.css">
    <link rel="shortcut icon" href="/static/wlsash/index/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/static/wlsash/index/favicon.ico" />
    <link rel="apple-touch-startup-image" href="/static/wlsash/index/favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/markdown@0.5.0/lib/markdown.min.js"></script>
    <script>window.logmessage = "$logmessage";</script>
    <script src="/static/wlsash/bg.js"></script>
</head>

<body>
    <script src="/static/wlsash/nav.js"></script>

    <div class="container">
        <div class="main">
                <h2 id="path"><!--Pathname here--></h2>
                <ul id="fileList">
                    <!-- Folders and files will be listed here -->
                </ul>
        </div>
    </div>

    <script src="/static/wlsash/archives/script.js"></script>
</body>

</html>