<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WLSA SH - Archives</title>
    <link rel="stylesheet" href="/static/wlsash/archives/style.css">
</head>

<body>
    <div class="topbar">
        <a href="./" class="left">
            <img class="favicon" src="https://s3.bmp.ovh/imgs/2024/09/28/2ae5ef77ccb35774.png">
            <span class="title">WLSA School House</span>
        </a>
        <div class="right">
            <a href="./dashboard.html" target="_blank">Dashboard</a>
            <a href="./archives.html" target="_blank">Archives</a>
            <a href="./pt-booking.html" target="_blank">PT Booking</a>
            <a href="./community.html" target="_blank">Commuunity</a>
        </div>
    </div>

    <div class="container">
        <div class="main">
            <div class="storage-section">
                <h2 id="path"><!--Pathname here--></h2>
                <ul id="fileList">
                    <!-- Folders and files will be listed here -->
                </ul>
            </div>
        </div>
    </div>

    <script src="/static/wlsash/archives/script.js"></script>
</body>

</html>