$def with (ename='')
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/wlsash/dashboard/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>

    <div class="top-stuff">
        <div class="header">
            <h1>Welcome$ename</h1>
            <p class="sub-header" id="zenquotes"></p>
        </div>
        <div class="next-class">
            <p>Next Class: Grade 1 Calculus</p>
            <p id="time"></p>
        </div>
    </div>
    <div class="contents">
        <div class="boxes">
            <div class="box">AMC (American Mathematics Competition)</div>
            <div class="box">Notice: Archives has been launched!</div>
            <div class="box">SwEC (Soilwater Engineering Competition)</div>
            <div class="box">Notice: Fatal XSS flaw in the community</div>
        </div>
        <div class="lower-boxes">
            <div class="lower-box">
                <p>New Archive Files:</p>
                <ul>
                    <li>File 1</li>
                    <li>File 2</li>
                    <li>File 3</li>
                    <li>File 4</li>
                    <li>File 5</li>
                    <li>File 6</li>
                    <li>...</li>
                </ul>
            </div>
            <div class="lower-box">
                <p>Community:</p>
                <ul>
                    <li>I think this is great!</li>
                    <li>The egg rolls in Replit are disgusting.</li>
                    <li>Vote for the new Soilwater Engineering Competition hoster!</li>
                </ul>
            </div>
            <div class="lower-box">
                <p>Your homework:</p>
                <ul>
                    <li>soilwater</li>
                    <li>chemistry...</li>
                    <li>Music</li>
                    <li>art</li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        function getTime() {
            let now = new Date();
            let h = now.getHours();
            let m = now.getMinutes();
            let ampm = h >= 12 ? 'PM' : 'AM';
            h = h % 12 || 12;
            m = m < 10 ? '0' + m : m;
            document.getElementById("time").innerText = `${h}:${m}\x20${ampm}`;
        }
        getTime();
        setInterval(getTime, 60000);
    </script>
    <script type="module">
        import { quotes } from '/static/wlsash/dashboard/quoteDB.js';
        let id = Math.floor(Math.random() * 51);
        document.getElementById("zenquotes").innerHTML = `${quotes[id].q}&mdash;${quotes[id].a}`;
    </script>
</body>

</html>