$def with (message='', logmessage='in')
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Peer Tutoring Booking - WLSA School House</title>
    <link rel="stylesheet" href="/static/wlsash/nav.css">
    <link rel="stylesheet" href="/static/wlsash/pt/style.css" />
    <script>window.logmessage = "out";</script>
    <link rel="shortcut icon" href="/static/wlsash/index/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/static/wlsash/index/favicon.ico" />
    <link rel="apple-touch-startup-image" href="/static/wlsash/index/favicon.ico" />
    <script src="/static/wlsash/bg.js"></script>
</head>

<body>
    <script src="/static/wlsash/nav.js"></script>
    <main>
        <h1>Peer Tutoring</h1>
        <!-- 此处使用心里咨询的排版 -->
        <div>
            <div>Control</div>
            <div class="table">
                <div>
                    <div>0</div>
                    <div>0</div>
                    <div>0</div>
                    <div>0</div>
                    <div>0</div>
                    <div>0</div>
                    <div>0</div>
                    <div>0</div>
                    <div>0</div>
                    <div>0</div>
                    <div>0</div>
                    <div>0</div>
                    <div>0</div>
                </div>
                <div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                </div>
                <div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                </div>
                <div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                </div>
                <div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                </div>
                <div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                </div>
            </div>
        </div>
    </main>

    <script src="/static/wlsash/index/script.js"></script>
</body>

</html>