* {
    cursor: auto !important;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
    cursor: none;
    text-decoration: none;
}
a:hover {
    color: var(--hyperlink-blue);
    text-decoration: underline;
}

::selection {
    cursor: none;
    background: rgba(0, 120, 215, 0.5);
}

::-moz-selection {
    cursor: none;
    background: rgba(0, 120, 215, 0.5);
}

::-webkit-selection {
    cursor: none;
    background: rgba(0, 120, 215, 0.5);
}

::-webkit-scrollbar {
    cursor: none;
    width: 10px;
    height: 10px;
    transition: all 1s ease 0s;
}

::-webkit-scrollbar-corner {
    cursor: none;
    background: none;
}

::-webkit-scrollbar-thumb {
    cursor: none;
    background-color: rgba(127, 127, 127, 0.6);
    background-clip: padding-box;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 5px;
    transition: all 1s ease 0s;
}

::-webkit-scrollbar-thumb:active {
    cursor: none;
    background-color: rgba(127, 127, 127, 0.6);
    background-clip: padding-box;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 5px;
    transition: all 1s ease 0s;
}

::-webkit-scrollbar-track {
    cursor: none;
    background-color: transparent;
}