body {
  cursor: none;
  display: flex;
  flex-direction: column;
  margin: 0px;
}



:root {
  cursor: none;
  --topbar-height: 65px;
  --pale-blue: #009ef7;
  --wlsa-blue: #2e358b;
  --hyperlink-blue: rgb(0, 140, 255);
  --black-bg: rgba(22, 22, 23, .8)
}

.container {
  cursor: none;
  user-select: none;
  width: 80%;
  height: calc(100vh - var(--topbar-height) - 32px);
  position: relative;
  overflow: hidden;
  margin: 16px 10%;
}

.row {
  display: flex;
  width: calc(100% - 20px);
  padding: 10px;
  gap: 16px;
}


@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slide-in {
  cursor: none;
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes gradient-mv {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.gradient-mv {
  cursor: none;
  animation-name: gradient-mv;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}