body {
  margin: 0px;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url("./bg.jpg");
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
  text-decoration: none;
  color: var(--hyperlink-blue);
}

::selection {
  background: rgba(0, 120, 215, 0.5);
}

::-moz-selection {
  background: rgba(0, 120, 215, 0.5);
}

::-webkit-selection {
  background: rgba(0, 120, 215, 0.5);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  transition: all 1s ease 0s;
}

::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, 0.6);
  background-clip: padding-box;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 5px;
  transition: all 1s ease 0s;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(127, 127, 127, 0.6);
  background-clip: padding-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 5px;
  transition: all 1s ease 0s;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

:root {
  --topbar-height: 65px;
  --pale-blue: #009ef7;
  --wlsa-blue: #2e358b;
  --hyperlink-blue: rgb(0, 140, 255);
  --black-bg: rgba(22, 22, 23, .8);
}

.text * {
  user-select: text !important;
  webkit-user-select: text !important;
}

.container {
  user-select: none;
  width: 100%;
  height: calc(100vh - var(--topbar-height));
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.main-bg {
  z-index: -99;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vh - var(--topbar-height));
  object-fit: cover;
  backface-visibility: hidden;
}

.topbar a {
  color: white;

  transition: .25s;
  cursor: pointer;
}

.topbar {
  user-select: none;
  background: var(--black-bg);
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: var(--topbar-height);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  overflow: hidden;
  backdrop-filter: saturate(180%) blur(20px);

}

.topbar:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar .right {
  height: 40px;
  display: flex;
  align-items: center;
  padding-right: 25px;
  gap: 20px;
}

.topbar .left {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  color: white;
  gap: 20px;
}

.topbar .left .favicon {
  max-height: 100%;
  width: auto;
  display: block;
}

.topbar .left .title {
  max-height: 100%;
  width: auto;
  display: block;
}

.right>a:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.right>a:hover:after {
  width: 100%;
  background-color: var(--hyperlink-blue);
}

.main {
  padding: 35px 35px 0px 35px;
  width: 1300px;
  height: 650px;
  top: calc(50% - 325px);
  left: calc(50% - 650px);
  box-sizing: border-box;
  background-color: var(--black-bg);
  box-shadow: rgb(0 0 0 / 37%) 0px 3.2px 7.2px 0px, rgb(0 0 0 / 35%) 0px 0.6px 1.8px 0px;
  border-radius: 8px;
  backdrop-filter: saturate(180%) blur(20px);
  color: white;
  overflow-y: auto;
}

.storage-section {
  margin-bottom: 2em;
}

.storage-section h2 {
  border-bottom: 2px solid var(--wlsa-blue);
  padding-bottom: 0.5em;
}

.storage-section h2>a:hover {
  text-decoration: underline;
  color: var(--hyperlink-blue);
}

.storage-section ul {
  list-style-type: none;
  padding: 0;
}

.storage-section li {
  background-color: var(--wlsa-blue);
  margin: 0.5em 0;
  padding: 0.5em 0.7em;
  border-radius: 4px;
  display: flex;
  gap: 16px;
  align-items: center;
  transition: 0.25s;
}

.storage-section li:hover {
  transform: scale(1.01);
}

.storage-section li:active {
  background-color: var(--hyperlink-blue);
}

.storage-section li.folder {
  font-weight: bold;
}

.storage-section li span {
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 1350px) {
  .main {
    left: 25px !important;
    width: calc(100% - 50px) !important;
  }
}

@media screen and (max-height: 786px) {
  .main {
    top: 35px;
    height: calc(100% - 70px);
  }
}